body{
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

.mug{
    float:left;
    width:31px;
    height:100%;
}

.mug_img{
    width:30px
}
.contact{
    margin-bottom: 2px;
    border-bottom:thin solid white;
}
a:link {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black;}  /* selected link */ 
.title{
    height:18px;
    width: 100%;
    background-image: -moz-linear-gradient(top, transparent, black);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(1, rgba(255,255,255,1)),color-stop(0, rgba(255,255,255,0)));
}
.shrink,.expand{
    color: black;
    float:right
}
.small,.large{

}
.small .details{
    display:none
}
.large .details{
    display: block
}
